nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  img {
    height: 100%;
    width: 5rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: #000 solid 1px;
    border-radius: 50%;
  }
  .nav-btn {
    margin-right: 1rem;
  }
}

.brand {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.button-sign-up,
.button-sign-in,
.button-log-out,
.button-upload {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.button-sign-up {
  background-color: #2e7f2a;
  color: #fff;

  &:hover {
    background-color: #0a1c1c;
  }
}

.button-sign-in,
.button-upload {
  background-color: #2e7f2a;
  color: #fff;
  margin-left: 0.5rem;

  &:hover {
    background-color: #0a1c1c;
  }
}

.button-log-out {
  background-color: #dc3545;
  color: #fff;
  margin-left: 0.5rem;

  &:hover {
    background-color: #c82333;
  }
}
